@import 'base/_constants';
@import 'base/_reset';
@import 'base/_typography';

@import 'components/_wrapper';

@import 'layout/_header';
@import 'layout/_about';
@import 'layout/_technologies';
@import 'layout/_projects';
@import 'layout/_contact';
@import 'layout/_footer';


body {
  font-family: $font-stack;
  color: #0a0a0a;
  -webkit-font-smoothing: antialiased;
}