.header {
  & > div {
    display: grid;
    grid-template-areas: "header contact";
    grid-template-columns: 1fr max-content;

    @media screen and (max-width: 768px) {
      grid-template-areas: "contact"
                           "header";
      grid-template-columns: 1fr;
      grid-gap: 2rem;
    }
  }

  &__content {
    grid-area: header;
  }
  
  &__title,
  &__subtitle,
  &__description {
    max-width: 48rem;

    @media screen and (max-width: 768px) {
      max-width: 32rem;
    }
  }

  &__title {
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 1rem;
    color: #1a1a1a;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: 1rem;
    color: #1a1a1a;
  }

  &__description {
    line-height: 1.5;
    color: #555;

    strong {
      color:#1a1a1a;
    }
  }

  &__contact {
    grid-area: contact;

    &-link {
      display: inline-block;
      --fill: #1a1a1a;

      &--github { --fill: #1a1a1a; }
      &--linkedin { --fill: #0077B5; }

      &:hover {
        svg path {
          fill: var(--fill);
        }
      }
      
      svg {
        width: 2rem;
        height: 2rem;
      
        path {
          fill: #555;
          transition: fill linear .3s;
        }
      }

      &:not(:last-of-type) {
        margin-right: 1rem;
      }
    }
  }
}