.technologies {
  color: #293347;

  .technologies__box {
    border-radius: 6px;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
    margin-top: -150px;
    background: #fff;

    display: grid;
    grid-template-areas: "frontend backend";

    .technologies__frontend,
    .technologies__backend {
      text-align: center;

      padding: 80px 45px;

      img {
        width: 48px;
        height: 48px;
        margin-bottom: 2em;
      }

      .technologies__heading {
        font-size: 1.3em;
        font-weight: 800;
        line-height: 1.125;
        margin-top: 1em;
        margin-bottom: 1.5rem;
      }

      p {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 2em;
      }
    }

    .technologies__frontend {
      grid-area: frontend;
      border-right: 1px solid #e6ecf8;
    }

    .technologies__backend {
      grid-area: backend;
    }
  }
}

@media screen and (max-width: 768px) {
  .technologies {
    .technologies__box {
      grid-template-areas: "frontend frontend"
                           "backend backend";

      .technologies__frontend {
        border-bottom: 1px solid #e6ecf8;
        border-right: 0;
      }
    }
  }
}